---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=<edamam_api_id>&app_key&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"Unauthorized app_id = <edamam_api_id>"}'
  recorded_at: Sun, 13 Nov 2022 01:58:40 GMT
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=<edamam_api_id>&app_key=11aa44e26a6d6e51671cb48976c4644d&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"count":0,"_links":{},"hits":[]}'
  recorded_at: Sun, 13 Nov 2022 02:04:52 GMT
recorded_with: VCR 6.1.0
