---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=<youtube_api_key>&maxResults=1&part=snippet&q
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "IE0uh8GwAGZNx8whEIQMqcSXcqY",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 156,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "OKJAjqw5878N33L9OFZzFF_yA34",
              "id": {
                "kind": "youtube#channel",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw"
              },
              "snippet": {
                "publishedAt": "2017-05-14T04:40:16Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "Mr History",
                "description": "Hi there, welcome to Mr History! On this channel I'd like to answer the common and uncommon questions people have about ...",
                "thumbnails": {
                  "default": {
                    "url": "https://yt3.ggpht.com/ytc/AMLnZu_wcMWlnboWDLxqC2gZ0bydYna2u6XVsGck7udhsA=s88-c-k-c0xffffffff-no-rj-mo"
                  },
                  "medium": {
                    "url": "https://yt3.ggpht.com/ytc/AMLnZu_wcMWlnboWDLxqC2gZ0bydYna2u6XVsGck7udhsA=s240-c-k-c0xffffffff-no-rj-mo"
                  },
                  "high": {
                    "url": "https://yt3.ggpht.com/ytc/AMLnZu_wcMWlnboWDLxqC2gZ0bydYna2u6XVsGck7udhsA=s800-c-k-c0xffffffff-no-rj-mo"
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2017-05-14T04:40:16Z"
              }
            }
          ]
        }
  recorded_at: Mon, 14 Nov 2022 01:16:40 GMT
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<unsplash_api_key>&content_filter=high&page=1&per_page=10&query
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      X-Total:
      - '0'
      X-Per-Page:
      - '10'
      Content-Language:
      - en
      Etag:
      - W/"7814e74bfa62dcc505522924e3c8cf4b"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '{"total":0,"total_pages":0,"results":[]}'
  recorded_at: Mon, 14 Nov 2022 01:16:41 GMT
recorded_with: VCR 6.1.0
