---
http_interactions:
- request:
    method: get
    uri: https://api.geoapify.com/v2/places?apiKey=<geoapify_api_key>&category=tourism.sights&filter=circle:122.3321,47.6062,20000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"statusCode":400,"error":"Bad Request","message":"\"value\" must contain
        at least one of [type, categories]"}'
  recorded_at: Mon, 14 Nov 2022 16:28:27 GMT
- request:
    method: get
    uri: https://api.geoapify.com/v2/places?apiKey=<geoapify_api_key>&categories=tourism.sights&filter=circle:122.3321,47.6062,20000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - '1.0'
    body:
      encoding: ASCII-8BIT
      string: '{"type":"FeatureCollection","features":[]}'
  recorded_at: Mon, 14 Nov 2022 16:29:01 GMT
recorded_with: VCR 6.1.0
